# ====== Data ======
image_root: images/CUHK-PEDES/
test_file: data/finetune/cuhk_test.json
val_file: data/finetune/cuhk_val.json
train_file: [data/finetune/cuhk_train.json]

# -------- Vision Encoder--------
vision_config: configs/config_sgB_384.json 
image_res: 384                             
patch_size: 32       
h: 224
w: 224

# -------- Text  Encoder--------
text_config:  configs/bert_base_uncased.json
text_encoder: bert-base-uncased            
embed_dim: 512                         


proj_head: mlp               
img_pool_mode: mix           
img_pool: mix
img_pool_alpha_init: -4.0    


sim_upper: 0.9   
neg_topk: 12     

# --------Training --------
epochs: 30
batch_size: 70            
batch_size_train: 70
train_batch_size: 70
grad_accum_steps: 2       
num_workers: 8            
max_words: 56            

# -------- Optim & Scheduler --------
base_lr: 1.0e-4           
min_lr: 1.0e-6            
warmup_lr: 2.0e-5         
warmup_epochs: 3
weight_decay: 0.05
betas: [0.9, 0.98]        
LabelSmooth: 0.1         
amp: true                

mlm: true                 
mlm_stop_grad_image: true 
          

# ---- InfoNCE ----
temp: 0.07

# ---- SWA----
swa: true
swa_start: 22
swa_lr: 2.0e-4
swa_freq: 2
swa_anneal_epochs: 3

# ---- Memory Bank ----
mem_start_epoch: 12
mem_warmup_steps: 500
mem_stride: 2
use_embed_memory: true
mem_device: cpu          # or 'cuda'
mem_capacity: 560
mem_topk: 64
mem_hard_negatives: true
mem_alpha: 0.4
mem_use_model_logit_scale: true
mem_temperature: 0.07
mem_weight_start: 0.0
mem_weight: 0.15
mem_weight_ramp_epochs: 6
enable_t2i: false
mem_weight_t2i: 0.0
ext_backward_on_img_only: true
mem_keys_backprop_prob: 0.0


eda: true
eda_p: 1.0
erasing_p: 0.6
mixup3_alpha: 0.6


grad_clip_norm: 0.6          
consistency_weight: 0.03    
w_switch_epoch: 18         
